@import '../../styles/colors';

.portfolio {
  .frontend-projects {
    height: auto;
    background: $blue;
    padding-bottom: 200px;

    .projects-wrap {
      .inverse {
        margin-top: 60px;
      }

      &.container {
        padding-top: 0;
      }
    }
  }
}
