@import "../../styles/colors";

.work {
  width: 80%;
  margin: 0 auto;
  display: flex;

  .tab-list {
    width: 19%;

    li {
      list-style: none;
      padding: 16px;
      border-left: 2px hsla(203, 0%, 83%, 0.63) solid;
      cursor: pointer;

      &[aria-selected="true"] {
        background: hsla(203, 118%, 7%, 1);
        border-left: 2px $soft-yellow solid;
      }
    }
  }

  .tab-content {
    margin: 15px 5px 0 20px;
    width: 81%;

    .title {
      margin-bottom: 9px;

      .company-name {
        color: hsla(46, 63%, 75%, 1);
      }
    }

    .date {
      padding-bottom: 12px;
      font-size: 14px;
    }

    p {
      padding-left: 20px;
      margin-bottom: 20px;
      font-size: 15px;
      font-weight: 500;
      position: relative;
      line-height: 1.7em;

      &::before {
        content: "\27A4";
        color: #e7d597;
        position: absolute;
        left: 0;
      }

      &:nth-of-type(1) {
        margin-top: 27px;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .work {
    width: 95%;
  }
}

@media screen and (max-width: 767px) {
  .work {
    width: 100%;
    display: flex;
    flex-direction: column;

    .tab-list {
      display: flex;
      margin-bottom: 20px;

      li {
        border:none;
        padding: 12px;
      }
    }

    .tab-content {
      margin-left: 5px;
      width: 100%;

      p {
        font-size: 13px;
      }
    }
  }
}


@media screen and (max-width: 395px) {
  .work {
    .tab-content {
      .title {
        font-size: 18px;
      }
    }
  }
}