.skills-section {
  display: flex;

  .grid-container {
    width: 50%;
    display: grid;
    grid-template-columns: repeat(4, 120px);
    grid-template-rows: repeat(3, 120px);
    gap: 3px;
    transition: 0.4s ease-in-out;
  }

  .tools-section {
    width: 50%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
    padding-left: 25px;

    .skills-wrap {
      padding-top: 5px;

      > p {
        padding-left: 40px;
        position: relative;
        margin-bottom: 10px;
        font-size: 14px;

        > span > svg {
          fill: hsl(46, 77%, 89%);
          width: 16px;
          height: 16px;
          position: absolute;
          left: 7px;
        }
      }

      .header-icon {
        width: 12%;
        height: auto;
        margin-right: 10px;
      }

      .skills-heading {
        margin-bottom: 12px;
        font-size: 16px;
        display: flex;
        align-items: center;
        letter-spacing: 2px;
      }
    }
  }
}

@media screen and (max-width: 1220px) {
  .skills-section {
    .grid-container {
      width: 45%;
      grid-template-columns: repeat(4, 100px);
      grid-template-rows: repeat(3, 100px);
    }

    .tools-section {
      width: 55%;
      .skills-wrap {
        padding-top: 2px;
      }
    }
  }
}

@media screen and (max-width: 1080px) {
  .skills-section {
    .grid-container {
      grid-template-columns: repeat(3, 100px);
      grid-template-rows: repeat(4, 100px);
    }

    .tools-section {
      padding-left: 0;
      .skills-wrap {
        > p {
          &::before {
            left: 3px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 825px) {
  .skills-section {
    .grid-container {
      grid-template-columns: repeat(3, 95px);
      grid-template-rows: repeat(4, 95px);
    }
  }
}

@media screen and (max-width: 750px) {
  .skills-section {
    flex-direction: column;

    .grid-container {
      width: 100%;
      grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
      grid-template-rows: none;
      grid-auto-rows: 100px;
    }

    .tools-section {
      margin-top: 30px;
      width: 100%;

      .skills-wrap {
        > p {
          font-size: 13px;
          padding-left: 32px;
        }
        .skills-heading {
          font-size: 14px;
        }
      }
    }
  }
}
