@import "../../styles/colors";

.about {
  height: 26em;

  .about-body {
    display: flex;
    height: 100%;

    .image-section {
      width: 40%;
      padding: 0 20px;

      .image {
        background-size: cover;
        background-position: center;
        height: 100%;
      }
    }

    .about-me {
      width: 60%;
      display: flex;
      justify-content: flex-end;
      flex-direction: column;

      .greeting-text {
        font-size: 16px;
        margin-bottom: 16px;
      }

      .name {
        font-size: 58px;
      }

      .title {
        color: $soft-yellow;
        font-size: 64px;
      }
      .text {
        margin-top: 30px;
        max-width: 34em;
        color: #fcffff;
        font-weight: 500;
        font-size: 17px;
        line-height: 1.5em;
      }

      .buttons-wrap {
        margin-top: 20px;

        button {
          margin-right: 10px;
        }
      }
    }
  }
}

@media screen and (max-width: 1300px) {
  .about {
    .about-body {
      .about-me {
  
        .name {
          font-size: 4.07vw;
        }

        .title {
          font-size: 4.5vw;
        }
      }
    }
  }
}

@media screen and (max-width: 1284px) {
  .about {
    .about-body {
      .about-me {
        .greeting-text {
          font-size: 14px;
        }

        .text {
          font-size: 15px;
        }
      }
    }
  }
}

@media screen and (max-width: 832px) {
  .about {
    .about-body {
      .about-me {
        .greeting-text {
          font-size: 12px;
        }

        .text {
          margin-bottom: 20px;
          font-size: 14px;
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .about {
    .about-body {
      position: relative;

      .image-section {
        width: 100%;
        padding: 0;
      }

      .about-me {
        position: absolute;
        width: 100%;
        background: #001c2ebf;
        align-items: center;
        padding: 12px;
        bottom: 0px;

        .name {
          font-size: 28px;
        }
        .title {
          font-size: 32px;
        }

        .text {
          font-size: 13px;
        }

        .buttons-wrap {
          margin: 20px 0;

          button {
            padding: 18px;
            margin: 0 5px;
            font-size: 10px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 430px) {
  .about {
    .about-body {
      .about-me {
        .name {
          font-size: 26px;
        }

        .title {
          font-size: 30px;
        }
      }
    }
  }
}
