.about {
  height: 550px;
  position: relative;

  .about-background {
    background: #39bb8d;
    width: 100%;
    height: 73%;
    bottom: 0;
    position: absolute;
  }

  .about-body {
    display: flex;
    position: inherit;
    height: 100%;

    .image-section {
      width: 40%;
      padding: 0 20px;

      .image {
        background-size: cover;
        background-position: center;
        height: 100%
      }
    }

    .about-me {
      width: 60%;
      height: 80%;
      padding: 74px 5px 0 5px;


      .text-pointer {
        color: #00000073;
      }

      .greeting-text {
        color: #adebd5a8;
        font-size: 60px;
      }

      .name {
        font-size: 65px;
        color: #ffffff;
      }

      .title {
        color: #adebd5;
        font-size: 70px;
      }
      .text {
        margin-top: 30px;
        max-width: 34em;
        color: #fcffff;
        font-weight: 500;
        font-size: 17px;
        line-height: 1.5em;
      }
    }
  }
}
