@import "../../styles/colors";

.header {
  position: absolute;
  width: 100%;

  .nav {
    border-bottom: 0.1px solid $outerSpaceColor;
    height: 75px;
    display: flex;
    justify-content: center;

    .menu__list {
      display: flex;
      justify-content: center;
      align-items: center;

      ul {
        display: inline-flex;
        list-style: none;

        li {
          margin: 0px 30px;
          font-size: 13px;
          font-weight: 500;

          a {
            color: inherit;

            &:hover {
              color: $primaryColor;
            }
          }
        }
      }

      .logo {
        $size: 50px;
        width: $size;
        height: $size;
      }

      .hamburger__menu {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .header {
    padding-top: 0 !important;

    .nav {
      .menu__list {
        justify-content: space-between;
        width: 90%;
        margin: 0 auto;

        ul {
          display: none;
        }

        .hamburger__menu {
          display: block;
          z-index: 1;
        }
      }
    }
  }
}
