.header {
  padding-top: 1em !important;
  position: absolute;
  width: 100%;

  .nav {
    border-bottom: 0.1px solid #807d75;
    margin: 0 auto;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;

    .logo {
      width: 50px;
      height: 50px;
    }

    ul {
      display: inline-flex;
      list-style: none;

      li {
        margin: 0px 30px;
        font-size: 13px;
        font-weight: 500;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .header {
    .nav {
      background-color: red;
    }
  }
}
