.header {
  border-bottom: 0.1px solid #a3b1b1;
  margin: 0 auto;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
  margin-bottom: 10px;
  width: 85%;

  .logo {
    width: 50px;
    height: 50px;
  }

  ul {
    display: inline-flex;
    list-style: none;

    li {
      margin: 0px 30px;
      font-size: 13px;
      font-weight: 500;
    }
  }
}
