@import "../../styles/colors";

.footer {
  .middle {
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 15px;

    &.light-bar {
      width: 200%;
      background: $darkest-blue;
    }

    .custom {
      font-size: 12px;
    }

    .contact-me-text {
      font-size: 20px;
      text-align: center;
      margin: 20px 0 40px 0;
    }

    .buttons-wrap {
      button {
        margin: 0 5px;
      }
    }
  }

  .footer-container {
    background: $outerSpaceColor;
    height: 320px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    .social-links-wrap {
      height: 100px;

      .social-icons {
        height: 65%;
        display: flex;
        align-items: center;
        justify-content: center;

        .link {
          width: 37px;
          height: 37px;
          padding: 8px;
          margin: 0 7px;
          fill: white;
        }
      }

      .footer-text {
        height: 35%;
        font-size: 11px;
        background: $darkest-blue;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

@media screen and (max-width: 1050px) {
  .footer {
    .top-bar {
      .middle {
        width: 400%;

        .section-description {
          text-align: center;
        }

        .contact-me-text {
          font-size: 16px;
        }
      }
    }
  }
}

@media screen and (max-width: 780px) {
  .footer {
    .top-bar {
      .middle {
        width: 750%;
      }
    }
  }
}

@media screen and (max-width: 677px) {
  .footer {
    .top-bar {
      .middle {
        .section-description {
          font-size: 12px;

          .custom {
            font-size: 10px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 450px) {
  .footer {
    .top-bar {
      .middle {
        width: 900%;
        .contact-me-text {
          font-size: 14px;
        }

        .buttons-wrap {
          button {
            padding: 18px;
            margin: 0 5px;
            font-size: 10px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 370px) {
  .footer {
    .top-bar {
      .middle {
        width: 1100%;
        .contact-me-text {
          margin-bottom: 20px;
        }
      }
    }
  }
}
