.footer {
  .middle {
    width: 200%;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 15px;

    .custom {
      font-size: 12px;
      color: #e2fbf2;
    }

    .contact-me-text {
      font-size: 20px;
      text-align: center;
      margin: 20px 0 40px 0;
      color: #ffffff;
    }

    .mail-me-button {
      padding: 24px 28px;
      background: white;
      font-size: 10px;
      font-weight: bold;
      letter-spacing: 0.05em;
      text-transform: uppercase;
    }

    .download-cv-button {
      padding: 24px 28px;
      background: #007c4f;
      color: white;
      font-size: 10px;
      font-weight: bold;
      letter-spacing: 0.05em;
      text-transform: uppercase;
    }

    .buttons-wrap {
      a {
        margin: 0 10px;
      }
      display: block;
    }
  }

  .footer-container {
    background: #39bb8d;
    height: 320px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    // align-items: center;

    .social-links-wrap {
      // background: red;
      height: 100px;

      .social-icons {
        height: 65%;
        // background: greenyellow;
        display: flex;
        align-items: center;
        justify-content: center;

        .link {
          width: 37px;
          height: 37px;
          padding: 8px;
          margin: 0 7px;
          fill: white;
        }
      }

      .footer-text {
        height: 35%;
        color: white;
        font-size: 11px;
        background: #007c4f;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 500;
      }
    }
  }
}
