.container {
  margin: 130px auto;
  min-height: 80vh;
  width: 80%;
}

.section-description {
  .tagline {
    font-size: 10px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  .section-name {
    margin: 30px 0;
    font-size: 37px;
    font-weight: 600;
    letter-spacing: -0.025em;
  }
}